.EditUserForm {
  box-sizing: border-box;
  height: 60vh;
  width: 80%;
  margin: 0 auto;
  border: 1px solid white;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px 40px;
}

.EditUserForm input {
  font-weight: 600;
  height: 30px;
}
